.b-order-form
{
    display: none;
    padding: 20px 0;
}
.b-order-form__title{
    padding:0 20px 10px 20px;
    color:#000;
}
.b-order-form .b-form__legend{
    font-size: 30px;
    line-height: 30px;
    color:#000;
    padding: 0 20px;
    margin-bottom:0;
}
.b-order-form__info{
    line-height: 40px;
    padding:0 0 0 40px;
    background: url(../../images/design/required.png) no-repeat 20px top;
    color:#8e8e8e;
    margin-bottom:10px;
}
.b-order-form .b-form-control__label_from_text{
    padding:0 0 10px 20px;
    color:#000;
    margin: 0;
}
.b-order-form .b-form-control_type_text .b-form-control__input{
    margin:0 20px 30px 0;
    background: #f3f3f3 no-repeat 20px top;
    padding: 10px 20px;
    border:none;
    width: 310px;
    color:#111111;
    font-size: 13px;
    box-shadow: inset 0 1px 3px #8d8d8d;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}
.b-order-form .b-form-control__textarea{
    margin:0 20px 30px 0;
    background: #f3f3f3;
    padding: 10px 20px;
    border:none;
    width: 390px;
    color:#111111;
    font-size: 13px;
    height: 100px;
    box-shadow: inset 0 1px 3px #8d8d8d;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}
.b-order-form .b-order-form__required.b-form-control_type_text .b-form-control__input{
    padding-left: 40px;
    width: 290px;
    background-image: url(../../images/design/required.png);
}
.b-order-form .b-order-form__small.b-form-control_type_text .b-form-control__input{
    width: 80px;
}
.b-order-form .b-order-form__small.b-order-form__required.b-form-control_type_text .b-form-control__input{
    width: 60px;
}
.b-order-form .b-order-form__date.b-order-form__required.b-form-control_type_text .b-form-control__input{
    width: 80px;
    padding-right: 50px;
    background: url(../../images/design/required.png) no-repeat 20px top, #f3f3f3 url(../../images/design/datapicker.png) no-repeat 130px center;
}
.b-order-form .b-form-control__label_from_radio{
    margin: 10px 0 30px 20px;
    color:#000;
}
.b-order-form__label-info{
    margin-left:5px;
    color:#a0a0a0;
}
input.b-order-form__submit{
    height: 43px;
    color:#fff;
    font-size: 16px;
    text-decoration: none;
    display:block;
    border:none;
    outline: none;
    padding: 0 25px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #0c5c90;
    box-shadow: 0 1px 1px rgba(8,98,161,0.85), inset 0 -1px 0 rgba(255,255,255,0.25);
    background: #2b9be4;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34a4ec', endColorstr='#2e9ee6');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34a4ec), color-stop(100%,#2e9ee6));
        background: -webkit-linear-gradient(top, bottom, #34a4ec, #2e9ee6);
        background: -moz-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -o-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -ms-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: linear-gradient(top, #34a4ec, #2e9ee6);
    -webkit-border-radius: 22px;
       -moz-border-radius: 22px;
         -o-border-radius: 22px;
            border-radius: 22px;
}
