.b-content
{
}
.b-content__row{
    padding: 30px 0;
    min-width: 980px;
}
.b-content__row_color_grey{
    background: #eeeeee;
    position: relative;
    margin-top: 5px;
    padding: 40px 0;
}
.b-content__row_color_grey:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: url(../../images/design/row-grey.png) repeat-x;
}
.b-content__row_color_shadow{
    position: relative;
    margin-top: 8px;
}
.b-content__row_color_shadow:before{
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    height: 8px;
    background: url(../../images/design/row-shadow.png) repeat-x;
}
.b-content__row_color_menu{
    background: #f7ebdf;
    padding: 0;
}
.b-content__row_color_hub{
    background: #fbf7ef;
    padding: 10px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}
