.b-search-form .b-form-control
{
    width: 100%;
}
.b-search-form .b-form_type_search{
    margin: 0;
}
.b-search-form .b-form-control__input_type_search-query{
    padding: 5px 15px;
    display:block;
    border:none;
    width: 100%;
    margin-right: 80px;
    background: none;
    color:#878787;
    font-size: 18px;
    text-shadow: 0 1px 0 #2b2b2b;
}
.b-search-form .b-form-control__input_type_search-query:focus{
    color:#ffd562;
}
.b-search-form .b-form-control__append{
    display:block;
    padding: 5px 85px 5px 5px;
    position: relative;
    margin:0;
    height: 30px;
    background: url(../../images/design/search-input.png) repeat-x center;
    box-shadow: 0 1px 0 rgba(255,255,255,0.07), inset 0 1px 5px rgba(1,2,2,0.55), 0 0 3px rgba(255,255,255,0.1);
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}
.b-search-form .b-form-control__button.i-btn{
    padding: 0;
    border:none;
    width: 80px;
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(../../images/design/search-button.png) no-repeat top center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.7), inset 0 -1px 0 rgba(255,255,255,0.1);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
}
.b-search-form .b-form-control__button.i-btn:hover{
    background-position: bottom center;
    box-shadow: 0 1px 0 rgba(255,255,255,0.07), inset 0 1px 5px rgba(1,2,2,0.55), inset 0 0 4px rgba(255,255,255,0.1), 0 0 3px rgba(70,103, 218, 0.7);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
