.b-order-count
{
    position:relative;
}
.b-order-count__input[type="text"]{
    display:block;
    text-align: center;
    color:#767676;
    font-size: 13px;
    padding: 2px 10px;
    width: 40px;
    border-color:#f3f3f3;
    box-shadow: inset 0 1px 1px #8d8d8d;
    margin: 0;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
         -o-border-radius: 12px;
            border-radius: 12px;
}
.i-btn.b-order-count__link{
    position:absolute;
    display:none;
    left:50%;
    margin-left: -10px;
    width: 10px;
    padding: 5px;
    height: 10px;
    border:none;
    text-decoration: none;
    background: none !important;
    box-shadow: none !important;
}
.b-order-count__link:before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
}
.b-order-count__link_type_less{
    bottom:-20px;
}
.b-order-count__link_type_less:before{
    border-top:7px solid #f73b37;
}
.b-order-count__link_type_more{
    top: -20px;
}
.b-order-count__link_type_more:before{
    border-bottom:7px solid #f73b37;
}
.b-order-count__link_state_disable.b-order-count__link_type_less{
    cursor: default;
}
.b-order-count__link_state_disable.b-order-count__link_type_less:before{
    border-top:7px solid #d4d4d4;
}
