.b-info
{
    text-align: center;
}
.b-info__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.b-info__item{
    padding-left: 60px;
}
.b-info__item:first-child{
    padding-left: 0;
}
.b-info__image{
    width: 70px;
    height: 70px;
    margin-right: 20px;
    position: relative;
}
.b-info__img{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    max-width: 70px;
    max-height: 70px;
}
.b-info__body{
    width: 180px;
    text-align: left;
}
.b-info__title{
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
    padding:5px 0 10px;
}
.b-info__text{
    color:#707070;
    line-height: 1.5em;
}
