.b-hub
{
    position: relative;
}
.b-hub__wrapper{
    overflow:hidden;
    height: 35px;
}
.b-hub__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.b-hub__all{
    display:none;
    position: absolute;
    right: 0;
    bottom: 10px;
}
.b-hub__all .b-link__text{
    color:#088add;
    border-bottom: 1px dotted #bfdaf5;
    line-height: 1em;
    vertical-align: baseline;
}
.b-hub__all:hover .b-link__text{
    color:#f70000;
    border-color:#f7a5a5;
}
.b-hub__item{
    padding: 10px 30px 10px 0;
    line-height: 15px;
}
.b-hub__link .b-link__text{
    color:#000;
    vertical-align: baseline;
    line-height: 1em;
    border-bottom: 1px solid #d5d5d5;
}
.b-hub__item_type_active .b-hub__link .b-link__text,
.b-hub__link:hover .b-link__text{
    color:#f70000;
    border-color:#f7a5a5;
}

.b-hub_state_all .b-hub__all{
    display:block;
}
.b-hub_state_all .b-hub__list{
    padding-right:20px;
}
