.b-related-product
{
    width: 30%;
    padding: 0 1.5% 20px;
}
.b-related-product__bottom{
    line-height: 30px;
    white-space: nowrap;
    height: 30px;
    padding-bottom: 5px;
    overflow: hidden;
}
.b-related-product__price{
    margin-right:10px;
    position:relative;
    line-height: 21px;
    font-size: 21px;
    font-weight: 700;
    color:#000;
    padding-top:5px;
}
.b-related-product:hover .b-related-product__price{
    color:#088add;
}
.b-related-product__price:after{
    content: 'Р';
    display:inline;
    font-weight: 400;
    padding-left:3px;
}
.b-related-product__price:before{
    content: '_';
    font-weight: 400;
    font-size: 0.8em;
    position: absolute;
    right: 2px;
    top: 0;
}
.b-related-product__basket{
    padding: 7px 6px 5px;
    line-height: 18px;
    text-decoration: none;
    height:18px;
    width:18px;
    overflow:hidden;
    white-space: nowrap;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(79,79,79,0.85);
    background: #cccccc;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#cecece');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#cecece));
        background: -webkit-linear-gradient(top, bottom, #d3d3d3, #cecece);
        background: -moz-linear-gradient(top,  #d3d3d3,  #cecece);
        background: -o-linear-gradient(top,  #d3d3d3,  #cecece);
        background: -ms-linear-gradient(top,  #d3d3d3,  #cecece);
        background: linear-gradient(top, #d3d3d3, #cecece);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
}
.b-related-product__basket .i-inline{
    vertical-align: top;
}
.b-related-product__basket-ico{
    width: 18px;
    height: 17px;
    background: url(../../images/design/product-basket.png) no-repeat top center;
}
.b-related-product:hover .b-related-product__basket{
    background: #2b9be4;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34a4ec', endColorstr='#2e9ee6');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34a4ec), color-stop(100%,#2e9ee6));
        background: -webkit-linear-gradient(top, bottom, #34a4ec, #2e9ee6);
        background: -moz-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -o-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -ms-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: linear-gradient(top, #34a4ec, #2e9ee6);
}
.b-related-product:hover .b-related-product__basket-ico{
    background-position: bottom center;
}
.b-related-product__basket .b-link__text{
    color:#f2f9ff;
    font-size: 11px;
    text-transform: uppercase;
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
    margin:0 6px;
    text-shadow: 0 1px 0 rgba(12,81,134, 0.55);
}
.b-related-product__image{
    float:left;
    width: 82px;
    height: 82px;
    background: #fff;
    position: relative;
}
.b-related-product__img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 82px;
    max-height: 82px;
}
.b-related-product__body{
    padding-left: 95px;
}
.b-related-product__title{
    color:#088add;
    max-height: 30px;
    line-height: 15px;
    overflow: hidden;
}
.b-related-product__title:hover{
    color:#f70000;
}
.b-related-product__brand{
    color:#9b9b9b;
    padding-top: 10px;
}
