.b-pagination__list
{
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color:#c8c8c8;
}
.b-pagination__link{
    display:block;
    text-decoration: none;
    color:#088add;
    padding: 1px 2px 0;
    width: 21px;
    text-align: center;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}
.b-pagination__item_state_current .b-pagination__link{
    color:#fff;
    background: #088add;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.4);
}
.b-pagination_position_right{
    float:right;
    padding-left: 190px;
}
