.b-order
{
    margin: 0 0 40px;
    width: 940px;
}
.b-order__main{
    position: relative;
    z-index:1;
    padding:0 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(149,149,149,0.75);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
}
.b-order__bottom{
    margin-left: 20px;
    position:relative;
    z-index:0;
    text-align: center;
    width: 185px;
    padding:20px 30px 30px;
    background: #f7ebdf;
    box-shadow: 0 2px 5px rgba(149,149,149,0.75);
}
.b-order__bottom:before{
    content: '';
    background: url(../../images/design/bg-basket.png) repeat-x left bottom;
    position: absolute;
    bottom: -8px;
    left:10px;
    right: 10px;
    height:15px;
}
.b-order__all{
    color:#ababab;
}
.b-order__next{
    line-height: 43px;
    color:#fff;
    font-size: 16px;
    text-decoration: none;
    display:block;
    padding: 0 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #0c5c90;
    box-shadow: 0 1px 1px rgba(8,98,161,0.85), inset 0 -1px 0 rgba(255,255,255,0.25);
    background: #2b9be4;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34a4ec', endColorstr='#2e9ee6');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34a4ec), color-stop(100%,#2e9ee6));
        background: -webkit-linear-gradient(top, bottom, #34a4ec, #2e9ee6);
        background: -moz-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -o-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -ms-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: linear-gradient(top, #34a4ec, #2e9ee6);
    -webkit-border-radius: 22px;
       -moz-border-radius: 22px;
         -o-border-radius: 22px;
            border-radius: 22px;
}
.b-order__price{
    font-size: 30px;
    line-height: 30px;
    margin:5px 0 20px;
    color:#000;
    position:relative;
}
.b-order__price:before,
.b-order__price:after{
    color:#ababab;
}
.b-order__price:after{
    content: 'Р';
    margin-left: 5px;
    display: inline;
}
.b-order__price:before{
    position: absolute;
    right: 3px;
    top:-10px;
    content: '_';
}
