.b-catalog
{
    padding: 0 5% 50px 0;
    width: 45%;
}
.b-catalog__image{
    float: left;
    width:150px;
    text-decoration: none;
    display: block;
}
.b-catalog__img{
    max-width: 150px;
    max-height: none;
    display: block;
}
.b-catalog__body{
    padding-left: 180px;
}
.b-catalog__top{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 5px;
}
.b-catalog__title{
    color:#088add;
    margin-right: 7px;
}
.b-catalog__count{
    color:#c4c4c4;
}
.b-catalog__list{
    list-style-type: none;
    margin:0;
    padding: 0;
}
.b-catalog__item{
    padding: 5px 20px 0 0;
}
.b-catalog__link{
    color:#0b0b0b;
}
.b-catalog:hover .b-catalog__title{
    color:#f70000;
}
.b-catalog__link:hover{
    color:#f70000;
}
