.b-product-link
{
    background: #f7f7f7;
    margin-bottom: 20px;
    padding: 4px;
}
.b-product-link__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.b-product-link__item{
    margin: 4px 6px;
}
.b-product-link__link{
    display:block;
    text-decoration: none;
    padding: 0 12px;
    line-height: 22px;
    color:#088add;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 11px;
       -moz-border-radius: 11px;
            border-radius: 11px;
}
.b-product-link__link:hover{
    color:#f03a38;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}
