.b-basket
{
    line-height: 24px;
    font-size: 11px;
    margin-top:10px;
    padding: 0 10px 0 25px;
    background: #474747 url(../../images/design/basket.png) no-repeat 8px 8px;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}
.b-basket_state_active{
    background-image: url(../../images/design/basket-active.png);
}
.b-basket__text{
    color:#c0c0c0;
}
.b-basket__link{
    margin-right:5px;
    text-decoration: none;
}
.b-basket__link .b-link__text{
    color:#ffd562;
    line-height: 1em;
    vertical-align: baseline;
    border-bottom:1px solid #716342;
}
.b-basket__link:hover .b-link__text{
    border-color:#ad9454;
}
.b-basket__price{
    position: relative;
    vertical-align: baseline;
}
.b-basket__price:after{
    content: 'Р';
    display:inline;
    margin-left:3px;
}
.b-basket__price:before{
    content: '_';
    position:absolute;
    right: 2px;
    top: -1px;
    font-size: 0.8em;
}
