.b-great-menu
{
    padding-bottom: 20px;
    margin: 0 -20px;
    position: relative;
    z-index: 100;
}
.b-great-menu__list,
.b-great-menu__dropmenu,
.b-great-menu__sublist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:block;
}
.b-great-menu__dropmenu{
    display:none;
    position: absolute;
    z-index:1;
    top: 55px;
    left: 0;
    background: #faf3e9;
    box-shadow: 0 1px 6px rgba(0,0,0,0.5);
    padding: 40px 20px 0 40px;
}
.b-great-menu__link{
    display:block;
    padding: 25px 20px 5px;
}
.b-great-menu__link .b-link__text{
    font-size: 24px;
    line-height: 24px;
    color:#088add;
    border-bottom: 1px solid #accef0;
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
}
.b-great-menu__item_type_active .b-great-menu__link .b-link__text{
    color:#f70000;
    border-color: #f7a5a5;
}
.b-great-menu__item_state_hover .b-great-menu__link .b-link__text{
    color:#f70000;
    border-bottom: 1px dashed #f7a5a5;
}

.b-great-menu__item_state_hover .b-great-menu__link{
    background: #faf3e9;
    box-shadow: 0 1px 6px rgba(0,0,0,0.5);
    position:relative;
    z-index:2;
}
.b-great-menu__item_state_hover .b-great-menu__link:before{
    content: '';
    background: #faf3e9;
    position:absolute;
    z-index:1;
    display:block;
    top: 55px;
    left: 0;
    right: 0;
    height: 10px;
}
.b-great-menu__dropitem{
    padding-bottom: 40px;
    width: 50%;
}
.b-great-menu__image{
    width: 96px;
    height: 60px;
    float: left;
    position:relative;
    background: #fff;
}
.b-great-menu__img{
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 96px;
    max-height: 60px;
}
.b-great-menu__body{
    padding: 0 20px 0 115px;
}
.b-great-menu__droplink .b-link__text{
    color:#989898;
    text-decoration: underline;
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.b-great-menu__droplink:hover .b-link__text{
    color:#f70000;
}
.b-great-menu__sublist{
    padding-top: 10px;
}
.b-great-menu__subitem{
    padding: 0 20px 5px 0;
}
.b-great-menu__sublink .b-link__text{
    color:#000000;
    font-size: 13px;
    line-height: 13px;
    border-bottom: 1px solid #d5d5d5;
}
.b-great-menu__sublink:hover .b-link__text{
    color:#f70000;
    border-color:#f7a5a5;
}
