.b-product
{
    width: 220px;
    position: relative;
    margin: 20px 10px;
    height: 280px;
}
.b-products__body .b-product{
    width: 31%;
}
.b-product__inner{
    position:absolute;
    top:-18px;
    bottom: -18px;
    left: -18px;
    right: -18px;
    padding: 18px;
}
.b-product:hover .b-product__inner{
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.b-product__title{
    font-size: 18px;
    line-height: 24px;
    display:block;
    height: 48px;
    overflow:hidden;
    color:#088add;
    position: relative;
    vertical-align: bottom;
}
.b-product__title:hover{
    color:#f70000;
}
.b-product__title:before{
    content: '';
    position: absolute;
    z-index:1;
    right: 0px;
    bottom: 0;
    width: 30px;
    height: 24px;
    background: -moz-linear-gradient(left, rgba(255,255,255,0.3), #fff);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.3), #fff);
    background: -o-linear-gradient(left, rgba(255,255,255,0.3), #fff);
    background: -ms-linear-gradient(left, rgba(255,255,255,0.3), #fff);
    background: linear-gradient(to right, rgba(255,255,255,0.3), #fff);
}
.b-product__title .b-link__text{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    text-decoration: underline;
}
.b-product__category-block{
    overflow: hidden;
    margin: 7px 0;
    text-align: right;
    height: 15px;
    line-height: 15px;
    font-size: 11px;
}
.b-product__category{
    text-decoration: none;
}
.b-product__category .b-link__text{
    color:#707070;
    line-height: 11px;
    border-bottom: 1px solid #d5d5d5;
}
.b-product__category:hover .b-link__text{
    color:#f70000;
    border-color:#f7a5a5;
}
.b-product__image{
    position:relative;
    height: 140px;
    background:#f7f7f7;
}
.b-product:hover .b-product__image{
    background: #fff;
}
.b-product__img,
.b-product__brand{
    position: absolute;
    z-index:0;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.b-product__img{
    margin:auto;
    max-width: 220px;
    max-height: 140px;
}
.b-product__brand{
    max-width: 220px;
    max-height: 30px;
    margin: auto 0 auto auto;
}
.b-product__brand-block{
    position: absolute;
    z-index:1;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
}
.b-product__simile{
    position: absolute;
    z-index:1;
    bottom: 0;
    left:0;
    font-size: 11px;
    display: inline-block;
    line-height: 13px;
    text-decoration: none;
    padding-left: 20px;
    background: url(../../images/design/simile.png) no-repeat left center;
}
.b-product__simile .b-link__text{
    line-height: 11px;
    color: #f70000;
    border-bottom: 1px dashed #f7a5a5;
}
.b-product__simile:hover .b-link__text{
    color: #010101;
    border-color: #d4d4d4;
}
.b-product__brand-block,
.b-product__simile{
    display:none;
}
.b-product:hover .b-product__brand-block{
    display: block;
}
.b-product:hover .b-product__simile{
    display: inline-block;
}
.b-product__bottom{
    margin-top:10px;
    line-height: 30px;
    white-space: nowrap;
    height: 30px;
    padding-bottom: 5px;
    overflow: hidden;
}
/*.b-product__bottom .i-inline{
    vertical-align: baseline;
}*/
.b-product__price{
    margin-right:10px;
    position:relative;
    line-height: 21px;
    font-size: 21px;
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
    color:#000;
    padding-top:5px;
}
.b-product:hover .b-product__price{
    color:#088add;
}
.b-product__price:after{
    content: 'Р';
    display:inline;
    /*font-family: 'i-font_face_opensans';*/
    font-weight: 400;
    padding-left:3px;
}
.b-product__price:before{
    content: '_';
    /*font-family: 'i-font_face_opensans';*/
    font-weight: 400;
    font-size: 0.8em;
    position: absolute;
    right: 2px;
    top: 0;
}
.b-product__basket{
    padding: 7px 6px 5px;
    line-height: 18px;
    text-decoration: none;
    height:18px;
    width:18px;
    overflow:hidden;
    white-space: nowrap;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(79,79,79,0.85);
    background: #cccccc;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#cecece');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#cecece));
        background: -webkit-linear-gradient(top, bottom, #d3d3d3, #cecece);
        background: -moz-linear-gradient(top,  #d3d3d3,  #cecece);
        background: -o-linear-gradient(top,  #d3d3d3,  #cecece);
        background: -ms-linear-gradient(top,  #d3d3d3,  #cecece);
        background: linear-gradient(top, #d3d3d3, #cecece);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
}
.b-product__basket .i-inline{
    vertical-align: top;
}
.b-product__basket-ico{
    width: 18px;
    height: 17px;
    background: url(../../images/design/product-basket.png) no-repeat top center;
}
.b-product:hover .b-product__basket{
    background: #2b9be4;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34a4ec', endColorstr='#2e9ee6');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34a4ec), color-stop(100%,#2e9ee6));
        background: -webkit-linear-gradient(top, bottom, #34a4ec, #2e9ee6);
        background: -moz-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -o-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -ms-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: linear-gradient(top, #34a4ec, #2e9ee6);
}
.b-product:hover .b-product__basket-ico{
    background-position: bottom center;
}
.b-product__basket .b-link__text{
    color:#f2f9ff;
    font-size: 11px;
    text-transform: uppercase;
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
    margin:0 6px;
    text-shadow: 0 1px 0 rgba(12,81,134, 0.55);
}
.b-product__oldprice{
    position:relative;
    text-decoration: line-through;
    top:-5px;
    color:#a0a0a0;
    line-height: 13px;
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
}
.b-product_type_new:hover .b-product__inner:before,
.b-product_type_sale:hover .b-product__inner:before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 61px;
    height: 61px;
}
.b-product_type_new:hover .b-product__inner:before{
    background: url(../../images/design/new.png) no-repeat;
}
.b-product_type_sale:hover .b-product__inner:before{
    background: url(../../images/design/sale.png) no-repeat;
}
