.b-order-item
{
    border-top: 1px solid #e5e5e5;
}
.b-order-item:first-child{
    border:none;
}
.b-order-item__image{
    width: 150px;
    height: 120px;
    position:relative;
    float:left;
}
.b-order-item__main{
    padding: 20px 260px 10px 160px;
}
.b-order-item__brand-block{
    width: 140px;
    height: 30px;
    position:relative;
}
.b-order-item__count{
    width: 60px;
    float:right;
    padding: 45px 30px;
}
.b-order-item__price-block{
    width: 100px;
    float:right;
    padding: 50px 40px 50px 0;
    position: relative;
}
.b-order-item__img,
.b-order-item__brand{
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
}
.b-order-item__img{
    margin: auto;
    max-width: 150px;
    max-height: 120px;
}
.b-order-item__brand{
    margin: auto auto auto 0;
    max-width: 140px;
    max-height: 30px;
}
.b-order-item__del{
    display: block;
    position:absolute;
    top:50%;
    margin-top:-8px;
    right: 20px;
    height: 17px;
    width: 17px;
    background: url(../../images/design/basket-del.png) no-repeat center top;
}
.b-order-item:hover .b-order-item__del{
    background-position: center bottom;
}
.b-order-item__price{
    font-size: 18px;
    font-weight: 700;
    color:#000;
    position: relative;
}
.b-order-item__price:before,
.b-order-item__price:after{
    font-weight: 400;
}
.b-order-item__price:after{
    content: 'Р';
    margin-left: 5px;
    display: inline;
}
.b-order-item__price:before{
    position: absolute;
    right: 2px;
    top:-6px;
    content: '_';
}
.b-order-item__title{
    text-decoration: none;
    color:#088add;
    font-size: 18px;
    line-height: 20px;
    max-height: 40px;
    overflow:hidden;
    display:block;
    padding-bottom: 10px;
}
.b-order-item:hover .b-order-item__title{
    color:#f70000;
}
.b-order-item__title:hover{
    text-decoration: underline;
}
.b-order-item:hover .b-order-count__link{
    display:block;
}
