.b-range__slider
{
    border:none;
    height: 8px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    background: #088add;
    margin-bottom: 15px;
}
.b-range__slider .ui-slider-range{
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    background: #ed3735;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e52f2d', endColorstr='#f5403d');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e52f2d), color-stop(100%,#f5403d));
        background: -webkit-linear-gradient(top, bottom, #e52f2d, #f5403d);
        background: -moz-linear-gradient(top,  #e52f2d,  #f5403d);
        background: -o-linear-gradient(top,  #e52f2d,  #f5403d);
        background: -ms-linear-gradient(top,  #e52f2d,  #f5403d);
        background: linear-gradient(top, #e52f2d, #f5403d);
}
.b-range__slider .ui-slider-handle{
    width: 18px;
    height: 18px;
    background: url(../../images/design/toggle.png) no-repeat center;
    border:none;
    outline: none;
    top: -5px;
    margin-left: -9px;
}
input[type="text"].b-range__value{
    width: 38px;
    padding: 2px 10px;
    border:none;
    color:#767676;
    font-size: 13px;
    font-family: Arial, sans-serif;
    text-align: right;
    margin: 0 10px 10px;
    box-shadow: inset 0 1px 1px #8d8d8d;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}
.b-range__text{
    line-height: 24px;
    color:#000;
    text-shadow: 0 1px 0 #fff;
}
