.b-header
{
    background: #393939;
    min-width: 980px;
    min-height: 70px;
}
.b-header__scroll-block{
    background: #393939;
    min-width: 980px;
    top: 0;
    left:0;
    right: 0;
}
.b-header .i-inline{
    vertical-align: baseline;
}
.b-header__wrapper{
    padding: 10px 0;
}
.b-header__logo{
    float: left;
    margin-top: 30px;
    width: 220px;
}
.b-header__contact{
    float:right;
    text-align: right;
}
.b-header__inner{
    padding: 0 240px;
}
.b-header__logo-link{
    position: relative;
    margin-left: -10px;
    display:block;
    height: 40px;
}
.b-header__logo-image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto 0;
    max-height: 40px;
}
.b-header__search-info{
    font-size: 11px;
    line-height: 20px;
    color:#c0c0c0;
    padding:10px 20px 5px;
}
.b-header__search-link{
    color:#c0c0c0;
    margin-left:3px;
    text-decoration: none;
}
.b-header__search-link .b-link__text{
    line-height: 11px;
    border-bottom: 1px dashed #656565;
}
.b-header__search-link:hover .b-link__text{
    border-color:#818181;
}
.b-header__phone{
    line-height: 40px;
    color:#f0f0f0;
    font-size: 24px;
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
}
.b-header__index{
    margin-right: 5px;
    color:#aaaaaa;
    font-size: 18px;
    /*font-family: 'i-font_face_opensans';*/
    font-weight: 400;
}
