@font-face {
    font-family: 'i-font_face_opensans-semibold';
    src: local('i-font_face_opensans-semibold');
    src: url('i-font_face_opensans-semibold.woff'),
         url('i-font_face_opensans-semibold.ttf');
}

.i-font_face_opensans-semibold
{
    font-family: 'i-font_face_opensans-semibold';
}
