@font-face {
    font-family: 'i-font_face_opensans';
    src: local('i-font_face_opensans');
    src: url('i-font_face_opensans.woff'),
         url('i-font_face_opensans.ttf');
}

.i-font_face_opensans
{
    font-family: 'i-font_face_opensans';
}
