.b-brand
{
    float: right;
    width: 40%;
}
.b-brand__bottom{
    text-align: right;
    font-size: 11px;
}
.b-brand__list{
    list-style-type: none;
    margin:0;
    padding: 0 0 0 10px;
    overflow:hidden;
    height: 230px;
}
.b-brand__item{
    width: 100px;
    padding: 0 0 15px 15px;
}
.b-brand__link{
    display:block;
    height: 100px;
    position: relative;
}
.b-brand__image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100px;
    max-height: 100px;
}
.b-brand__all .b-link__text{
    color:#088add;
    border-bottom: 1px solid #bfdaf5;
    line-height: 1em;
    vertical-align: baseline;
}
.b-brand__all:hover .b-link__text{
    color:#f70000;
    border-color:#f7a5a5;
}
.b-brand__count{
    padding-left:5px;
    color:#707070;
}
