.b-menu__list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.b-menu_type_horiz .b-menu__item{
    display: inline;
    zoom:1;
    display: inline-block;
    vertical-align: top;
}

.b-menu_position_top{
    font-size: 11px;
    padding:0 20px 10px;
    line-height: 20px;
}
.b-menu_position_top .b-menu__item{
    padding-right: 20px;
}
.b-menu_position_top .b-menu__link{
    color:#f1f1f1;
    text-decoration: none;
}
.b-menu_position_top .b-menu__title{
    line-height: 11px;
    border-bottom: 1px solid #5c5c5c;
}
.b-menu_position_top .b-menu__link:hover .b-menu__title{
    border-color:#818181;
}


.b-menu_position_footer{
    padding: 9px 0;
    font-size: 11px;
}
.b-menu_position_footer .b-menu__item{
    padding-right: 20px;
}
.b-menu_position_footer .b-menu__link{
    color:#000;
    text-decoration: none;
}
.b-menu_position_footer .b-menu__title{
    line-height: 11px;
    border-bottom: 1px solid #d5d5d5;
}
.b-menu_position_footer .b-menu__link:hover .b-menu__title{
    border-color:#f7a5a5;
    color:#f70000;
}


.b-menu_position_hub{
    font-size: 11px;
    line-height: 11px;
}
.b-menu_position_hub .b-menu__item{
    padding: 5px 20px 5px 0;
    width: 215px;
}
.b-menu_position_hub .b-menu__link{
    color:#088add;
    text-decoration: none;
}
.b-menu_position_hub .b-menu__link:hover{
    color:#f70000;
}
.b-menu_position_hub .b-menu__title{
    text-decoration: underline;
}
