.b-seo
{
    padding-right: 45%;
}
.b-seo__title{
    text-transform: uppercase;
    color:#9f9f9f;
    font-size: 18px;
    line-height: 1.3em;
    margin: 0;
    padding-bottom: 15px;
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
}
.b-seo__body{
    line-height: 1.8em;
}
.b-seo__body a{
    color:#088add;
}
.b-seo__body a:hover{
    color:#f70000;
}
