.b-card__title
{
    font-weight: 400;
    margin: 0;
    padding-bottom:5px;
}
.b-card__article{
    color:#a4a4a4;
}
.b-card__body{
    margin-top: 25px;
    padding-bottom:40px;
}
.b-card__basket-block{
    float:right;
    width: 270px;
    box-shadow: 0 3px 5px rgba(149,149,149,0.75);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.b-card__gallery{
    float:left;
    width: 400px;
}
.b-card__main{
    padding: 0 310px 0 470px;
}
.b-card__price{
    margin-right:10px;
    position:relative;
    line-height: 21px;
    font-size: 21px;
    font-weight: 700;
    color:#000;
    padding-top:5px;
}
.b-card__price:after{
    content: 'Р';
    display:inline;
    font-weight: 400;
    padding-left:3px;
}
.b-card__price:before{
    content: '_';
    font-weight: 400;
    font-size: 0.8em;
    position: absolute;
    right: 2px;
    top: 0;
}
.b-card__basket{
    margin: 20px 0 15px;
    padding: 7px 6px 5px;
    line-height: 18px;
    text-decoration: none;
    height:18px;
    overflow:hidden;
    white-space: nowrap;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(79,79,79,0.85);
    background: #2b9be4;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34a4ec', endColorstr='#2e9ee6');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34a4ec), color-stop(100%,#2e9ee6));
        background: -webkit-linear-gradient(top, bottom, #34a4ec, #2e9ee6);
        background: -moz-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -o-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -ms-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: linear-gradient(top, #34a4ec, #2e9ee6);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
}
.b-card__basket .i-inline{
    vertical-align: top;
}
.b-card__basket-ico{
    width: 18px;
    height: 17px;
    background: url(../../images/design/product-basket.png) no-repeat bottom center;
}
.b-card__basket .b-link__text{
    color:#f2f9ff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    margin:0 6px;
    text-shadow: 0 1px 0 rgba(12,81,134, 0.55);
}
.b-card__basket-row{
    background: #f7ebdf;
    padding: 20px 20px 5px;
    border-top: 1px solid #fff;
}
.b-card__basket-row:first-child{
    border-top: none;
    border-bottom: 1px solid #dacbbd;
    -webkit-border-radius: 5px 5px 0 0;
       -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
}
.b-card__basket-bottom{
    position: relative;
    height: 20px;
    background: #fff;
}
.b-card__basket-bottom:after{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 10px;
    right: 10px;
    height: 14px;
    background: url(../../images/design/card-basket.png) repeat-x left bottom;
}
.b-card__info{
    padding: 0 0 15px 45px;
    color:#111111;
}
.b-card__info_type_delivery{
    background: url(../../images/design/delivery.png) no-repeat;
}
.b-card__info_type_payment{
    background: url(../../images/design/payment.png) no-repeat;
}
.b-card__features{
    list-style-type: none;
    margin: 0;
    padding: 20px 0 15px;
}
.b-card__feature{
    padding-bottom:15px;
}
.b-card__feature:before{
    content: '—';
    display: inline;
    margin-right: 7px;
}
.b-card__feature-value{
    margin-left: 5px;
    font-size: 16px;
}
.b-card__discription{
    background: #f3f3f3;
    padding:15px;
}
.b-card__gallery{
    position: relative;
}
.b-card__gallery .b-gallery__image-link{
    position:relative;
    height: 350px;
}
.b-card__gallery .b-gallery__img{
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    max-width: 400px;
    max-height: 350px;
}
.b-card__image-carousel{
    position: absolute;
    top: -7px;
    bottom: 0;
    left: 0;
    width: 58px;
}
.b-card__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.b-card__item{
    display: block;
    padding: 7px 0;
}
.b-card__item .b-gallery__item-link{
    position: relative;
    width: 56px;
    height: 56px;
    border:1px solid #e5e5e5;
    background: #fff;
}
.b-card__item.b-gallery__item_state_active .b-gallery__item-link{
    border-color:#ea3634;
}
.b-card__item .b-gallery__preview{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 56px;
    max-height: 56px;
}
.b-card__arrow{
    position: absolute;
    left:50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
}
.b-card__arrow_position_prev{
    top: -4px;
    border-bottom:4px solid #f70000;
}
.b-card__arrow_position_next{
    bottom: -4px;
    border-top:4px solid #f70000;
}
.b-card__arrow_state_disable{
    display:none;
}
.b-card__text-title,
.b-card__tech-title{
    font-weight: 400;
    font-size: 20px;
}
.b-card__text-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.b-card__text-image{
    max-width: 380px;
    padding: 0 0 20px 0;
}
.b-card__text-item_type_even .b-card__text-image{
    float:right;
    padding-left: 20px;
}
.b-card__text-item_type_odd .b-card__text-image{
    float: left;
    padding-right: 20px;
}
.b-card__tech{
    padding-bottom: 40px;
}
.b-card__tech-list{
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
    display: table;
    width: 600px;
}
.b-card__tech-item{
    display: table-row;
}
.b-card__tech-text,
.b-card__tech-value{
    display: table-cell;
    padding: 3px 8px;
    line-height: 19px;
    color:#5f5f5f;
}
.b-card__tech-item_type_even{
    background: #f3f3f3;
}
.b-card__tech-value{
    color:#3e3e3e;
    font-weight: 700;
}
.b-card__related{
    margin-bottom:40px;
    position:relative;
    padding-bottom: 15px;
    background: #f7ebdf;
    box-shadow: 0 3px 5px rgba(149,149,149,0.75);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.b-card__related-all{
    text-decoration: none;
    bottom: -12px;
    position:absolute;
    width: 180px;
    text-align: center;
    line-height: 24px;
    left:50%;
    margin-left: -90px;
    color:#fff;
    text-shadow: 0 1px 0 #0c5888;
    box-shadow: 0 1px 1px rgba(8, 98,161, 0.85), inset 0 -1px 0 rgba(255,255,255,0.25);
    background: #2b9be4;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34a4ec', endColorstr='#2e9ee6');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34a4ec), color-stop(100%,#2e9ee6));
        background: -webkit-linear-gradient(top, bottom, #34a4ec, #2e9ee6);
        background: -moz-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -o-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: -ms-linear-gradient(top,  #34a4ec,  #2e9ee6);
        background: linear-gradient(top, #34a4ec, #2e9ee6);
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}
.b-card__related-title{
    padding: 10px 15px;
    font-size: 20px;
    color:#1a1a1a;
    border-bottom: 1px solid #dacbbd;
}
.b-card__related-count{
    margin-left: 5px;
    color:#b1b1b1;
    font-weight: 700;
}
.b-card__related-list{
    border-top:1px solid #fff;
    padding-top: 20px;
    overflow: hidden;
    height: 102px;
}
.b-card__related-list_type_all{
    height: auto;
}
.b-card__related-list_type_all ~ .b-card__related-all{
    display: none;
}
