.b-product-list
{
}
.b-product-list__title{
    color:#f70000;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 21px;
    cursor: pointer;
    border-bottom: 1px dashed #f7a5a5;
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
}
.b-product-list__top .i-inline{
    vertical-align: baseline;
}
.b-product-list__toggle-block{
    padding-left:50px;
}
.b-product-list__toggle-title{
    font-size: 11px;
    line-height: 11px;
    color:#000;
    border-bottom: 1px dashed #000;
    cursor: pointer;
}
.b-product-list__toggle-block .checkme{
    display:none;
}
.b-product-list__toggle-text{
    padding:0 5px;
    color:#707070;
    font-size: 13px;
}
.b-product-list__toggle-text_state_active{
    color:#f84242;
}
.b-product-list__toggle{
    bottom:-3px;
    position:relative;
}
.b-product-list__toggle.light .toggle-slide {
    background: #ededed;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f6f6f6');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f6f6f6));
        background: -webkit-linear-gradient(top, bottom, #e5e5e5, #f6f6f6);
        background: -moz-linear-gradient(top,  #e5e5e5,  #f6f6f6);
        background: -o-linear-gradient(top,  #e5e5e5,  #f6f6f6);
        background: -ms-linear-gradient(top,  #e5e5e5,  #f6f6f6);
        background: linear-gradient(top, #e5e5e5, #f6f6f6);
    border:none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), inset 0 0 1px rgba(212,212,212,0.3);
    -webkit-border-radius: 9px;
       -moz-border-radius: 9px;
            border-radius: 9px;
}
.b-product-list__toggle.light .toggle-slide .toggle-blob{
    background: url(../../images/design/toggle.png) no-repeat;
    border:none;
    box-shadow: none;
}
.b-product-list__toggle.light .toggle-slide .toggle-on,
.b-product-list__toggle.light .toggle-slide .toggle-off {
    background: none;
}
.b-product-list__body{
    margin: 0 -20px;
    padding: 0 10px;
    overflow:hidden;
    height: 320px;
}

.b-product-list_type_simile .b-product-list__title{
    font-weight: 400;
    color:#088add;
}
