.b-products
{
}
.b-products__filter{
    float:left;
    width: 260px;
}
.b-products__main{
    padding-left: 280px;
}
.b-products__title{
    font-weight: 400;
    font-size: 30px;
    color:#383838;
    padding-bottom: 20px;
    margin: 0;
    line-height: 30px;
}
.b-products__top{
    padding-bottom: 15px;
    border-bottom:1px solid #e8e8e8;
}
.b-products__body{
    margin: 20px -10px;
    clear:right;
}
.b-products__toggle-block{
    padding-top:7px;
}
.b-products__toggle-title{
    font-size: 11px;
    line-height: 11px;
    color:#000;
    border-bottom: 1px dashed #000;
    cursor: pointer;
}
.b-products__toggle-block .checkme{
    display:none;
}
.b-products__toggle-text{
    padding:0 5px;
    color:#707070;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
}
.b-products__toggle-text:hover{
    color:#f84242;
    text-decoration: underline;
}
.b-products__toggle-text_state_active{
    color:#f84242;
}
.b-products__toggle-text_state_active:hover{
    text-decoration: none;
    cursor: default;
}
.b-products__toggle{
    position:relative;
}
.b-products__toggle.light .toggle-slide {
    background: #ededed;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f6f6f6');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f6f6f6));
        background: -webkit-linear-gradient(top, bottom, #e5e5e5, #f6f6f6);
        background: -moz-linear-gradient(top,  #e5e5e5,  #f6f6f6);
        background: -o-linear-gradient(top,  #e5e5e5,  #f6f6f6);
        background: -ms-linear-gradient(top,  #e5e5e5,  #f6f6f6);
        background: linear-gradient(top, #e5e5e5, #f6f6f6);
    border:none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), inset 0 0 1px rgba(212,212,212,0.3);
    -webkit-border-radius: 9px;
       -moz-border-radius: 9px;
            border-radius: 9px;
}
.b-products__toggle.light .toggle-slide .toggle-blob{
    background: url(../../images/design/toggle.png) no-repeat;
    border:none;
    box-shadow: none;
}
.b-products__toggle.light .toggle-slide .toggle-on,
.b-products__toggle.light .toggle-slide .toggle-off {
    background: none;
}
