.b-feedback__inner
{
    color:#c0c0c0;
    font-size: 11px;
    line-height: 20px;
    padding-bottom: 10px;
}
.b-feedback__link{
    margin-left:3px;
    color:#ffd562;
    text-decoration: none;
}
.b-feedback__link .b-link__text{
    border-bottom: 1px dashed #716342;
    line-height: 11px;
}
.b-feedback__link:hover .b-link__text{
    border-color:#ad9454;
}
