.b-pathway{
    padding-bottom: 40px;
}
.b-pathway__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.b-pathway__item{
}
.b-pathway__link{
    line-height: 30px;
    color:#515151;
}
.b-pathway__link_type_home{
    width: 17px;
    height: 15px;
    line-height: 15px;
    margin-top: 7px;
    background: url(../../images/design/pathway.png) no-repeat center top;
}
.b-pathway__link_type_home:hover{
    background-position: center bottom;
}
.b-pathway__separator{
    padding: 0 10px;
    line-height: 30px;
    color:#2f2f2f;
}
.b-pathway__title{
    font-size: 30px;
    line-height: 30px;
    color:#000;
}
