.b-category
{
    width: 220px;
    position: relative;
    margin: 0 10px 50px;
    height: 210px;
    z-index: 0;
}
.b-category:hover{
    z-index:1;
}
.b-category__inner{
    position:absolute;
    background:#fff;
    top:-18px;
    left: -18px;
    right: -18px;
    padding: 18px;
    overflow: hidden;
    height: 190px;
}
.b-category:hover .b-category__inner{
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    height:auto;
}
.b-category__image{
    position: relative;
    height: 135px;
    display:block;
}
.b-category__img{
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    max-width: 220px;
    max-height: 136px;
}
.b-category__title{
    padding:4px 0 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:#111111;
    display: block;
}
.b-category:hover .b-category__title{
    color:#f70000;
}
.b-category__list{
    list-style-type: none;
    margin: 0 -15px 0 0;
    padding: 0;
}
.b-category__item{
    padding: 0 15px 5px 0;
}
.b-category__link{
    color:#088add;
    line-height: 15px;
    display: inline-block;
}
.b-category__link:hover{
    color:#f70000;
}
