.b-footer
{
    height: 100px;
    position: relative;
    z-index:1;
}
.b-footer__wrapper{
    padding: 35px 0;
    height: 30px;
    line-height: 30px;
}
.b-footer__logo{
    float:left;
    width: 160px;
}
.b-footer__contact{
    float:right;
    width: 280px;
    text-align: right;
}
.b-footer__inner{
    padding: 0 300px 0 240px;
}
.b-footer__contact .i-inline{
    margin-left: 20px;
    vertical-align: baseline;
}
.b-footer__mail{
    text-transform: uppercase;
    font-size: 11px;
    color:#f70000;
    text-decoration: none;
    line-height: 11px;
    border-bottom: 1px solid #f7a5a5;
}
.b-footer__mail:hover{
    border-color: #f96b6b;
}
.b-footer__phone{
    /*font-family: 'i-font_face_opensans-semibold';*/
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color:#000;
}
.b-footer__index{
    /*font-family: 'i-font_face_opensans';*/
    color:#a0a0a0;
}
