.b-filter
{
    background: #f7ebdf;
}
.b-filter__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.b-filter__item{
    padding: 15px 15px 5px;
    border-top: 1px solid #dacbbd;
    border-bottom: 1px solid #fff;
}
.b-filter__item:first-child{
    border-top:none;
}
.b-filter__item:last-child{
    border-bottom:none;
}
.b-filter__title{
    color:#0a0a0a;
    padding-bottom:15px;
    font-weight: 700;
    line-height: 13px;
}
.b-filter__item_type_brand .b-filter__checkbox{
    width: 110px;
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
}
.b-filter__checkbox label.b-form-control__label{
    margin-bottom: 10px;
    color:#7e7e7e;
    text-decoration: underline;
}
.b-filter__checkbox.checked label.b-form-control__label{
    color:#1b1b1b;
}
.b-filter__item_type_switcher-on .b-filter__title,
.b-filter__item_type_switcher-off .b-filter__title{
    position:relative;
    padding-left: 12px;
    cursor: pointer;
}
.b-filter__item_type_switcher-on .b-filter__title span,
.b-filter__item_type_switcher-off .b-filter__title span{
    display:inline-block;
    border-bottom: 1px dashed #0a0a0a;
}
.b-filter__item_type_switcher-on .b-filter__title:before{
    content: '';
    position:absolute;
    top: 3px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #0a0a0a;
}
.b-filter__item_type_switcher-off .b-filter__title:before{
    content: '';
    position:absolute;
    top: 3px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #0a0a0a;
}
.b-filter__item_type_switcher-off .b-filter__body{
    display:none;
}
input.b-filter__button{
    padding: 0 15px;
    height: 30px;
    font-size: 13px;
    color:#fff;
    text-shadow: 0 1px 0 #0f669e;
    margin-bottom: 10px;
    border:none;
    box-shadow: 0 1px 1px rgba(8,98,161,0.85), inset 0 -1 0 rgba(255,255,255,0.25);
    background: #299feb;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34a4ec', endColorstr='#30a0e8');
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34a4ec), color-stop(100%,#30a0e8));
        background: -webkit-linear-gradient(top, bottom, #34a4ec, #30a0e8);
        background: -moz-linear-gradient(top,  #34a4ec,  #30a0e8);
        background: -o-linear-gradient(top,  #34a4ec,  #30a0e8);
        background: -ms-linear-gradient(top,  #34a4ec,  #30a0e8);
        background: linear-gradient(top, #34a4ec, #30a0e8);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
}
.b-filter__reset{
    line-height: 30px;
    margin: 0 0 10px 20px;
    color:#535353;
}
